@import "../../common/constants";

.VenmoWindow {
  .message {
    color: white;
    font-size: $font-size-large;
    font-weight: lighter;
    padding: 2rem;
    text-align: center;

    &:before {
      content: 'venmo.com/u/jaykim1223'
    }
  }

  .donation-container {
    flex-shrink: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    margin: 0 2rem;
    padding-bottom: 2rem;
    overflow-y: auto;
    pointer-events: auto;
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.9, black), to(rgba(black, 0)));

    .donation {
      display: flex;
      align-items: center;
      font-size: $font-size-large;
      padding: 1rem;
      border-bottom: solid 1px rgba(white, .2);
      text-decoration: none;
      cursor: pointer;

      &:last-child {
        border-bottom: none;
      }

      .icon {
        @include icon(2rem);
        margin-right: .5rem;
      }

      .name {
        flex: 1;
        color: white;
        font-weight: lighter;
        margin-right: 2rem;
      }

      .price {
        color: white;
        font-weight: lighter;
        margin-right: 2rem;
        white-space: nowrap;

        &:before {
          content: '$\00a0';
        }
      }

      .donate {
        height: 3rem;
        border: none;
        border-radius: 1.5rem;
        background-color: #EBEBEB;
        color: #008CFF;
        font-size: $font-size-normal;
        display: flex;
        align-items: center;
        font-weight: bold;
        padding: 0 2rem;
        cursor: pointer;

        &:hover {
          background-color: $color-light;
        }

        &:active {
          box-shadow: inset 0 2px 4px rgba(0, 0, 0, .15), 0 1px 2px rgba(0, 0, 0, .05);
          background-color: rgb(209, 209, 209);
          color: white;
        }

        &:before {
          content: 'Pay';
        }
      }
    }
  }
}

.mobile .VenmoWindow {
  .donation-container {
    .donation {
      flex-direction: column;
      text-align: center;

      .icon {
        margin-right: 0;
        margin-bottom: .5rem;
      }

      .name {
        margin-right: 0;
        margin-bottom: 1.5rem;
      }

      .price {
        margin-right: 0;
        margin-bottom: .5rem;
      }
    }
  }
}
